* {
    margin: 0px 0px;
    padding: 0px 0px;
}

body {
    background-color: #E5E5E5;
}

.header {
    display: flex;
    padding: 40px 135px;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo p {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #2D3134;
}

.menu {
    display: flex;
    align-items: center;
    gap: 36px;
}

.menu a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #2E476B;
    text-decoration: none;
}

.booking {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1.4px solid #F66F4D;
    padding: 19px 34px;
    border-radius: 25px;
}

.booking-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #F66F4D;
}